{% if 'monitor' in group_names %}
https://influxdb.{{inventory_hostname}} {
    tls {{ caddy_email }}
    tls self_signed
    proxy / http://127.0.0.1:8086
}

https://grafana.{{inventory_hostname}} {
    tls {{ caddy_email }}
    tls self_signed
    proxy / http://127.0.0.1:3000
}
{% endif %}
